= form_tag register_users_path do
  .form-group.register-form
    .col-lg-offset-3.col-lg-4
      = text_field_tag :name, '', { required: true, placeholder: 'My name is...', class: 'form-control' }
    .col-lg-2
      %span.input-group-btn
        = button_tag 'Sign me up!', class: 'btn btn-primary btn-default'
