.form-group.register-form
  .col-lg-offset-3.col-lg-4
    %input.form-control{type: 'text', placeholder: 'My name is...', required: true}
  .col-lg-2
    %span.input-group-btn
      %button.btn.btn-primary.btn-default Sign me up!
