/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */

body{
  background-image: image-url('xmastree.jpg');
  background-size: cover;
}


.panel-default{
  background: gray;
  margin-top: 2em;
  opacity: 0.9;
}

.panel-body{
  margin: 1em;
}

.centered{
  text-align: center;
}

.flash{
  border-radius: 5px;
  font-weight: bold;
  margin: 0.25em auto;
  padding: 0.25em;
  text-align: center;
  width: 95%;
}

.flash.error{
  border: 2px solid #8d201e;
  background-color: #ffbaba;
}

.flash.notice{
  border: 2px solid #003a5b;
  background-color: lightgreen;
}

.source-link{
  margin: 1em auto;
}
