.status-text{
  font-weight: bold;
  margin: 1em 0;
}

.user-list{
  margin-top: 2em;
}

table.users{
  th, td{
    padding: 5px 1em;
  }
  th{
    border-bottom: 2px solid grey;
  }

  .btn-destroy{
    background: #b73434;
  }
}
